@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: custom;
  src: url("../public//Gilgan.otf");
}
.main-img {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
body {
  font-family: custom;
}
