@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: custom;
  src: url("../public//Gilgan.otf");
}
.main-img {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
body {
  font-family: custom;
}
.custom-animate {
  animation: updown linear infinite alternate 2s;
  transform: translateY(0px);
  /* transition: transform 2s; */
  position: relative;
  transform: rotate(45deg);
}
@keyframes updown {
  0% {
    top: 0px;
  }
  100% {
    top: -5px;
  }
}
.main-div-img {
  perspective: 600px;
}
.projectimg {
  transform: rotateX(20deg);
}
